@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 90vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #0b0740;
}

.section1 h1{
    color: #080808;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}

.topright .minding{
    width: 466px;
    
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
   
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}
.d-block{
    height: 50vh;
    filter: blur(8px);
    -webkit-filter: blur(2px);
}
  

.bannerText{
    display: flex;
    position: absolute;
    top: 20px;
}
.wellcome{
    color: #000000;
    font-weight: bold;
    
    
}
.mindimg{
    width: 289px;
}
.cardssection{
    column-gap: 10px;
    margin: 40px;
    margin-bottom: 0;
}
.card{
    margin-bottom: 40px;
}
.card-img-top{
    margin-top: 10px;
  padding: 5px;
    width: 269px;
    height: 300px;
}
.card-title{
    font-weight: bold;
}
.foot{
   color: white;
}
main{
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 0, 0.5),
            rgba(0, 0, 255, 0.5));
}